.gform_wrapper input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    ms-box-shadow: none;
    box-shadow: none;
}

.gform_wrapper{
    .top_label{
        .gfield_label:not(:empty){
            min-width: 145px;
        }
    }
}

.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select{
    margin-left: 0!important;
}

.buon-compleanno label{
    width: initial !important;
    margin-right: 16px;

    @include media(xs){
        margin-right: 0;
        float: none !important;
    }

}

.c-required{
    display: inline-block;
    position: relative;

    label{
        position: absolute;
        right: 0;
        min-width: initial !important;
        top: 46%;
        right: -10px;
    }
}
