.c-form-group {
    label {
        float: left;
        margin-right: 30px;
        font-size: 20px !important;
    }
    input{
        width: 400px;
        padding: 9px 10px !important;
        max-width: 90%;
    }
}


.gform-step-7 {
    
    padding-bottom: 160px;

    @include media( xs ){
        padding-bottom: 70px;
    }

    .gfield_radio{
        > li{
              float: left;
              overflow: initial !important;
              margin-right: 15px !important;
        }
        
    }

    .gform_page_footer{
        position: fixed;
        bottom: 2px;
        width: 85% !important;
        left: 7.5%;
        z-index: 999;
        border: none;

        @include media(xs){
            bottom: 0px;
            width: 100% !important;
            left: 0px;
            padding: 0px 15px !important;
        }

        .gform_previous_button{
            float: left;
            position: initial;
            top: initial;
            text-transform: uppercase;
            color: #fff;
            text-decoration: underline;
        }

        .gform_next_button{
            float: right;
            margin-right: 35px !important;
        }

    }
}

.gform-description{
  font-size: 16px;
  font-weight: bold;
  color: #8c8c8c;
  margin-bottom: 40px;
}

.gform-subtitle{
    font-size: 20px;
    font-weight: bold;
    margin-top: 80px !important;

    @include media(xs){
        margin-top: 30px !important;
        font-size: 16px;
    }
}

.gf-border-bottom{
    display: block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

/* error div */
.gform_wrapper li.gfield.gfield_error{
    padding-left: 15px;
    padding-right: 15px !important;
    border-top: none !important;
    border-bottom: none !important;
    @include border-radius( 5px );
}
.gform_wrapper .field_description_below .gfield_description{
    padding-top: 0px !important;
}
