/* -------------------------------------------
 * CUSTOM RADIO BUTTON
 * ------------------------------------------- */
.gfield_radio {
    text-align: left;
    @include clearfix();

    input[type="radio"] {
        display: none !important;
    }

    label {
        text-align: center;
        position: relative;
        word-break: break-all;
        font-size: 15px !important;
        padding: 8px 6px !important;
        max-width: initial !important;
        width: 100% !important; 
        @include transition( all 0.4s ease-in-out );

        img {
            display: inline-block;
            margin-bottom: 3px;
        }

        &:after {
            content: "\f00c";
            display: inline-block;
            border-radius: 50%;
            position: absolute;
            font-family: fontawesome;
            font-size: 11px;
            top: -10px;
            left: -10px;
            background-color: #33cc99;
            color: #fff;
            width: 20px;
            height: 20px;
            line-height: 2;
            opacity: 0;
            @include border-radius( 50% );
            @include scale( 0 );
            @include transition( all 0.3s ease-in-out );
        }
    }

    input:checked {
        + label {
            box-shadow: 0 0 0 2px $color-primary inset;

            &:after {
                opacity: 1;
                @include scale( 1 );
            }
        }
    }
    @include media(mb) {
        text-align: center;
    }
}
