.c-file-upload {
    text-align: right;
    
    label {
        float: right;
        text-align: right;

        .file-name {
            margin-right: 10px;
        }
    }
}

.c-btn-file {
    background: #fff;
    padding: 8px 20px;
    border: 2px solid #33cc99;
    border-radius: 5px;
    font-size: 14px;
    text-transform: capitalize;
    color: #33cc99;
    cursor: pointer;

    &:hover {
        background-color: #33cc99;
        color: #fff;
    }
}

.preview-img-wrapper {
    text-align: right;

    .preview-img{
        width: 82px;
        display: inline-block;
        margin-bottom: 15px;
    }
}
