/* -----------------------------------------------
 * GRAVITY FORM FOOTER
 * ----------------------------------------------- */
.gform_page_footer {
    border-top: none !important;
    position: relative;
    text-align: center;

    .gform_button,
    .gform_next_button {
        @extend %btn-border;
        @include box-shadow( none );
        background-color: $color_primary;
        color: $color_white;

        &:hover{
            background-color: $color_white !important;
            color: $color_primary;
        }
    }

    .gform_previous_button {
        background-color: transparent;
        font-weight: 600;
        margin: 0 !important;
        position: absolute;
        top: 100%;
        color: #b7b7b7;
        font-size: 13px;
        @extend %btn-common;

        // @include media(mb){
        //     text-align: left;
        // }
    }
}

.gform_page_footer .next-button .gform_next_button:active,
.gform_page_footer .next-button .gform_next_button:focus {
    background-color: transparent !important;
}

@include media(xs){
    .gform-step-7{
        .gform_previous_button {
            text-align: left;
        }
    }
}
