.gform-onethird{
    width: 33.33334%;
    float: left;
    padding-right: 0px !important;
    clear: initial !important;

    @include media(mb){
        width: 50%;
    }

    @include media(xs){
        width: 100%;
    }
}
