$steps-bg-color: #142f70;

.gform-navigator{
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 9;
    background: #ffffff;
    padding-right: 0 !important;
    @include clearfix();

    .back-button{
      position: relative;
      cursor: pointer;
      &:before{
          content: "\f060";
          font-family: FontAwesome;
          font-size: 16px;
          margin-right: 10px;
          position: relative;
          top: -2px;
      }
    }

    .jump-to-next-step{
        .gform_ajax_spinner{ 
            position: fixed;
            right: 15px;
            top: 13px;
        }
    }
    
    .next-button{
      cursor: pointer;
      position: relative;

        .gform_ajax_spinner{  
            position: absolute;
            right: 35px;
            top: 15px;
 
            @include media(mb){
                right: 33px;
                top: 13px;
            }
        }

      &:after{
        content: "\f061";
        font-family: FontAwesome;
        font-size: 16px;
        margin-left: 10px;
        position: relative;
        top: -2px;
      }
    }

    .step-button{
      text-align: center;
      margin: 20px 0;
      font-size: 20px;
      font-weight: bold;
      color: #999999;
      > div{
          display: inline-block;

            &.customization-breadcrumb{
                margin: 0 20px;
            }
            &.back-btn{
                font-size: 14px !important;
            }
            &:not(:first-child){
                color: #66cc99;
            }
      }

      @include media( xs ){
        margin: 10px 15px;
        font-size: 16px;
        height: 40px;
        line-height: 40px; 

        .back-button{
            float: left;
        }
        .next-button{
            float: right;
        }
      }


    }

    /* categories steps with icons */
    .customization-steps{
        background: $steps-bg-color;
        color: $color_white;
        text-align: center;
        padding: 40px 20px 13px;

        span{
            margin: 0 15px;
            display: inline-block;
            color: lighten( $steps-bg-color, 20%);
            font-weight: bold;
            font-size:14px;
            position: relative;



            &:after{
                position: absolute;
                content: "";
            	width: 24px;
            	height: 26px;
            	bottom: 100%;
            	left: 50%;
            	transform: translateX(-50%);
            }

            &.active{
                color: $color_white;
            }

            &.book{
                &:after{
                    background: url('../img/steps.png') no-repeat 0 0;
                }
                &.active{
                    &:after{
                        background: url('../img/steps.png') no-repeat 0 -32px;
                    }
                }
            }

            &.settings{
                &:after{
                    background: url('../img/steps.png') no-repeat -30px 0;
                }
                &.active{
                    &:after{
                        background: url('../img/steps.png') no-repeat -30px -32px;
                    }
                }
            }

            &.eye{
                &:after{
                    background: url('../img/steps.png') no-repeat -59px -4px;
                    width: 35px;
                }
                &.active{
                    &:after{
                        background: url('../img/steps.png') no-repeat -59px -37px;
                        width: 35px;
                    }
                }
            }

            &.cart{
                &:after{
                    background: url('../img/steps.png') no-repeat -97px -1px;
                    width: 35px;
                }
                &.active{
                    &:after{
                        background: url('../img/steps.png') no-repeat -97px -32px;
                        width: 35px;
                    }
                }
            }

        }

        @include media(xs){
            padding: 24px 20px;
            span{
                visibility: hidden;
            }
        }
        @include media(mb){
            padding: 15px 20px;
        }
    }

    > div{
        > div{
            float: none;
            text-align:center;

            &.customization-steps{
                background-color: #142f70;
                color: #fff;
                padding: 30px 0 !important;

                span{
                    border: none !important;
                }
            }
        }
    }

}
