
/* -----------------------------------------------
 * MAIL AND FEMALE BUTTONS
 * ----------------------------------------------- */
%btn-img{
    position: absolute;
    left: 33px;
    bottom: 40px;
}

#female-child:after {
    content: url("../img/female.png");
    @extend %btn-img;
}

#male-child:after {
    content: url("../img/male.png");
    @extend %btn-img;
}

%btn-common {
    border: none !important;
    min-width: 135px;
    line-height: 0.8 !important;
    padding: 14px 2px !important;

    @include media(mb){
        min-width: 115px;
    }
}

%btn-border {
    text-align: center;
    @extend .c-btn;
    @extend .c-btn-border;
    @include box-shadow( 0 0 0 2px $color_primary );
    @extend %btn-common;
}

#female-child,
#male-child {
    margin: 0 40px !important;
    @extend %btn-border;
}



/* -----------------------------------------------
 * MEDIA QUERY
 * ----------------------------------------------- */
@include media(xs){
    .boo-inner-banner {
        overflow: hidden;   
        padding-bottom: 85px;
        min-height: calc( 100vh - 211px);  
    }
}

@include media(mb) {

    .gform-step-1 {
        #male-child {
            display: block !important;
            margin-top: 150px !important;
        }

        #male-child,
        #female-child {
            float: none !important;
        }

        ul {
            li {
                &:first-child {
                    font-size: 20px !important;
                    max-width: 60%;
                    display: inline-block;
                }
            }
        }
    }

    /* ----------------------------------------
     * GFORM STEP 1
     * ---------------------------------------- */
    .gform_page_fields {
        ul {
            > li {
                input {
                    padding: 5px 15px !important;
                    width: 90% !important;
                }
            }
        }
    }

}//End media
