
/* -----------------------------------------------
 *  STEP 2
 * ----------------------------------------------- */
.ginput_container{
    input, select {
       border-radius: 4px;
       border: 2px #ddd solid;
       height : 40px; 
    }
} 

.gform-step-2{

    li{
        &:not(:first-child){
            margin-top:0 !important;
        }

        .ginput_container_text{
            display: inline-block;
        }
    }

    .ginput_container {
        margin-top: 0;
        width: 275px;
        max-width: 100%;

        input {
            padding: 10px 15px !important;
            width: 100% !important;
        }
    }
}

