
/* -------------------------------------------
 * STEP 4
 * ------------------------------------------- */
.gform-row {
    > label {
        width: 20%;
        float: left;
        font-size: 16px !important;
        margin-top: 45px !important;

        @include media(mb){
            margin-top: 20px !important;
        }
        
    }

    > div {
        overflow: hidden;
        margin-top: 0 !important;
        padding: 10px;
    }

    ul {
        li {
            display: inline-block;
            overflow: initial !important;
            margin: 0 30px !important;
        }
    }
    @include media(mb) {
        > div {
            padding: 5px;
        }

        > label {
            width: 100%;
        }

        ul {
            li {
                margin: 0 !important;
            }
        }
    }
}

.no-scelta{
    text-align: center;
}

.gform_wrapper .gform_page_footer input.button {
    width: initial !important;
    margin: initial !important;
    min-width: initital !important;
}
