/* -----------------------------------------------
 * TITLES
 * ----------------------------------------------- */

 .gform-step-1,
 .gform-step-2,
 .gform-step-3,
 .gform-step-4{
     text-align: center;
     li{
         &:first-child {
           font-size: 35px;
           font-weight: 600;
           padding-bottom: 30px;

           @include media(xs){
               font-size: 20px;
               font-weight: 600;
               padding-bottom: 20px;
           }
           
         }
     }
 }

 /* For step1 title */
 .gform-step-1{
     li{
         &:first-child{
             padding-bottom: 150px;
         }

         &:not(:first-child){
             display: inline-block;
         }
     }
 }
