
/* ---------------------------------------
 * BANNER SECTION
 * --------------------------------------- */

 #myboo-banner {
	 background-image: none;
	 text-align: center;
	 min-height: auto;
	 position: relative;

	 .myboo-banner-content{
     word-wrap: break-word;
	 }
 }


.myboo-banner-content h1 {
	font-size: 41.81pt;
	font-family: Quicksand;
	color: #333;
	font-weight: 700;
}

.banner-description {
	padding: 40px 0 !important;
}

.myboo-banner-content p {
	color: #333;
	line-height: 35px;
	font-size: 13.84pt;
	font-weight: 400;
}

.btn-wrapper {
	text-align: right;
}

.scroll-down {
	bottom: 17%;;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	display: inline-block;
}  

a.scroll-btn {
	background: #fff;
	padding: 14px 18px;
	text-align: center;
	border-radius: 100%;
	color: #fd7ca2;
}

.btn-wrapper img {
	display: block;
	float: right;
	right: -39px;
	position: absolute;
	margin-top: 35px;
}

.btn-wrapper{
	a{
			margin-right: 45px;
			@include media(xs){
				margin-right: 0;
			}
	}
}

img.svg-img {
	display: inline-block;
	position: absolute;
}

img.svg-img.rect {
	right: 0;
}

img.svg-img.stick {
	right: 92px;
	bottom: -66px;
}

img.svg-img.small-purple {
	right: 208px;
	top: -48px;
}

img.svg-img.small-red-circle {
	right: 67px;
	top: -48px;
}

img.svg-img.small-blue-circle {
	top: -33px;
	left: 68px;
}

.svg-img.blue-triangle {
	top: -40px;
	right: 105px;
}

img.svg-img.blue-rectangle {
	left: -22px;
	bottom: 92px;
}

img.svg-img.col-md-2.review-circle {
	right: 0;
	top: -47px;
}

/*-------------------------------------------
 *	MEDIA QUERY
 *-------------------------------------------*/
 @include media(mb){
	 .myboo-banner-content{
		  h1{
				font-size: 30px;
                margin: 0;
			}
			.col-md-10{
				padding: 0;
			}
	 }
 };
