/* ---------------------------------------
 * HEADER SECTION
 * --------------------------------------- */

header#masthead {
	padding: 40px 0;
	background: transparent;
}

.cart-language ul {
	margin: 0;
	list-style: none;
	float: left;
	padding: 0;
}

.cart-language ul li {
	float: left;
	position: relative;
}

.mm-menu{
	background: #E9EDF0;
    color: #353535;
	font-weight: 500;
	
	.mm-navbars-top{
		background: #fff;
		text-align: center;
		
		img{
			display: inline-block;
		}
	}
}

.mm-panel{
	background: #40dfd0 !important;
    color: #333333;
    font-size: 16px;
    font-weight: 600;
}

.mm-listview>li .mm-next,
.mm-listview>li:not(.mm-divider):after{
	border-color: rgba(255, 255, 255, 0) !important;
}

.mm-panel.mm-hasnavbar .mm-navbar{
	border-bottom: none;
    background: #46c5b9;
}

.mm-listview-large .mm-listview>li>a:not(.mm-next), 
.mm-listview-large .mm-listview>li>span {
    padding: 13px 10px 13px 20px !important;
}

.mm-navbars-top{
	border-bottom-width: 0px !important; 
}

.fixed-menu-close{  
	width: 30px;
    height: 30px;
    position: fixed;
    z-index: 9999;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    line-height: 29px;
    left: 50%;
    bottom: 5px;
	color: #239e93;
	cursor: pointer;
    @include transform ( translateX(-50%) scale(0) );
	@include transition( all 0.3s linear );
}

.mm-opened {
	.fixed-menu-close{
		@include transform ( translateX(-50%) scale(1) );
	}
}


/*-------------------------------------------
 *	MEDIA QUERY
 *-------------------------------------------*/

 @include media(xs){
	.cart-language ul{
		 float: right;
	}
 }

 @include media(mb){
	 
	 .site-header{
		 .container{
				padding:0; 
		 }
	 }
 };
