.fixed-menu-open{
    float: right;
    font-size: 28px;
    padding-left: 15px;
} 

.mm-slideout{
    z-index: inherit !important;
}  

html.mm-front .mm-menu.mm-offcanvas{
    z-index: 9999 !important;
}
 