
/* ---------------------------------------
 * NAVIGATION
 * --------------------------------------- */

.myboo-nav-wrapper ul li a {
	color: #000;
	padding: 0 20px 10px 20px;
	font-weight: 600;
	font-size: 16px;
}

.myboo-nav-wrapper ul li a:hover,
.myboo-nav-wrapper ul li a:active,
.myboo-nav-wrapper ul li a:focus {
	text-decoration: none;
}

li.bar {
	height: 26px;
	border-left: 1px solid #565555;
	margin: 9px 20px;
}

.yellow-circle {
	height: 100px;
	width: 100px;
	background: #ffffff;
	border-radius: 50%;
	border: 17px solid #ffffb2;
	position: absolute;
	top: -69px;
	z-index: 0;
}

ul.dropdown-menu.language li {
	float: none;
	text-transform: uppercase;
}

ul.dropdown-menu.language {
	background: #000;
	text-align: center;
	border-radius: 0;
	padding: 10px 0;
	min-width: 100px !important;
	left: 53px;
	box-shadow: none !important;
}

ul.dropdown-menu.language a {
	color: #cccccc;
	padding: 7px 0 !important;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:active {
	color: #66cc99 !important;
	background: #000 !important;
}

.myboo-nav-wrapper ul ul li a{
  padding: 8px 20px;
}

.myboo-nav-wrapper ul ul li a:hover{
	background: $color_primary;
}
