.c-btn-border{
  color: $color_primary;
  background-color: transparent;
  @include box-shadow( 0 0 0 3px $color_primary inset );
  @include transition( all 0.2s ease-in-out );

  &:hover,
  &:focus,
  &:active{
    background-color: $color_primary !important;
    color: $color_white;
    @include transition( color 0.1s ease-in-out, background-color 0.3s ease-in-out );
  }
}
