.c-btn-secondary{
    background-color: $color_primary !important;
    color: $color_white !important;
    font-size: 14px !important;
    width: 140px;
    cursor: pointer;
    @include transition( all 0.3s ease-in-out );

    &:hover{
        background-color: $color_white !important;
        color: $color_primary !important;
    }

    &:hover,
    &:focus,
    &:active,
    &:visited{
        color: $color_white;
    }
}

.disable{
    background-color: bfbfbf !important;
    color: $color_black !important;
    font-size: 14px !important;
    width: 140px;
    cursor: not-allowed;
    
}

.next-button > input.gform_next_button{
    // padding: 0px !important;
    // width: initial !important;
    // min-width: initial;
    // min-height: initial;
    // background-color: transparent !important;
    // border: none !important;
    // box-shadow: none;
    // color: #3c9 !important;   
    
    &.active, &:hover, &.visited, &:focus{
        // background-color: transparent !important;
        color: $color_primary;
    }
}

.jump-to-next-step{
    padding: 0 !important;
}