
.btn-cre-book{  

    @extend %btn-s-common;
    background: #cc99cc;
    @include transition( all 0.3s linear );

    &:hover{
        background-color: #BE80BE;
    }
    
    &:visited{
        color: $color_white;  
    }
}      