
.btn-example{

    @extend %btn-s-common;
    color: $color_white;
    border: 1px solid #cc99cc;
    color: #cc99cc;
    @include transition( all 0.3s linear );

    &:hover{
        background-color: #BE80BE;
        color: $color_white;
    }

    &:visited{
        color: #cc99cc;
        &:hover{
            color: $color_white;
        }
    }
}      