.c-btn-primary {
  background-color: $color_primary;
  color: $color_white;
  @include transition( all 0.3s ease-in-out );

  &:hover{
    background-color: darken($color_primary, 5%);
  }

  &:hover,
  &:focus,
  &:active,
  &:visited{
    color: $color_white;
  }
  
}
