.c-btn{
  font-size: 17px;
  color: $color_white;
  display: inline-block;
  padding: 15px 25px;
  border-radius: 5px;
  font-weight: bold;
  font-family: $font_primary;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);

  &:focus{
    outline: none;
  }

  @include media(mb){
    font-size: 14px;
    font-weight: 400;
    padding: 10px 12px;
  };

}