.about-us{

    img{
        display: inline-block;
    }

    .mb-content{
        font-size: 24px;
        font-weight: 400;
        color: #999999;
        width: 80%;
        margin: 60px auto;
        
        @include media(xs){
            width: 100%;
            font-size: 18px;
        }

        p{
            margin-bottom: 40px;
        }
    }  
    
}