.error-404{
    h1{
        font-size: 150px;
        font-weight: bold;
        margin: 0;
    }

    h2{
        margin: 20px 0 30px;
        font-size: 27px; 
    }   

    @include media(xs){
        h1{
            font-size: 80px;
        }
        h2{
            font-size: 22px;
        }
    }
}