.stories{

    .top-sec{
        .ratings{
            margin-top: 50px;
        }
        .detail{
            font-size: 16px;
            width: 340px;
            max-width: 100%;
            display: inline-block;
            margin: 20px 0 70px; 
            font-weight: bold;

            @include media(mb){
                margin: 20px 0 40px;
            }
        }   
    }

    .stories-lists{
        margin: 90px 0 20px; 
    }  

}

%common-nav{
    font-family: "FontAwesome";
    font-size: 42px;
    position: absolute;
}

.owl-prev:after{
    @extend %common-nav;
    content: "\f104";
    top: 28%;
    left: 0;
}

.owl-next:after{
    @extend %common-nav;
    content: "\f105";
    top: 28%;
    right: 0;
}