
.slide-in {
	-webkit-animation: slide-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


.at-ripple{
	    @include animation( at-ripple 1.2s cubic-bezier(0.08, 0.38, 0.44, 0.78) infinite );
}

@include keyframes(at-ripple) {
    0% {
          @include box-shadow( 0 0 0px 0px rgba(255, 255, 255, 0.44) );
    }
    100% {
        @include box-shadow(  0 0 0px 12px rgba(255, 255, 255, 0) );
    }
}
