.mb-title{
  font-size: 24pt;
  color: $color_primary;
  font-weight: bold;
  padding-bottom: 15px;
  font-family: $font_title;
  text-transform: capitalize;
  margin: 0;

  @include media(mb){
    font-size: 18px;
  }

}
