.c-modal-content{
    box-shadow: none;
    border: 3px solid #666666;
    border-radius: 0px;

    .modal-body{
        padding: 40px 30px 30px;

        .close{
            position: absolute;
            right: 10px;
            top: 10px;
            line-height: 0.5;
            font-size: 27px;

            &:focus{
                outline: none;
            }
        }

        .title{
            margin: 30px 0 0 0;
            @include clearfix();

            h2{
                float: left;
                margin: 0;
                font-size: 22px;
                margin-right: 10px;
            }
            img{
                float: left;
            }   
        }
        .detail{
            font-size: 16px;
            margin-top: 30px;
            font-weight: 500;
            color: #4a4a4a;
        }

        .customize{
            border-left: 1px solid #ddd;
            padding-left: 30px;

           
            h2{
                font-size: 20px;
                text-align: center;
                margin: 0 0 40px;
            }

            ul{
                list-style: none;
                margin-bottom: 80px;

                li{
                    text-transform: uppercase;
                    margin-bottom: 15px;
                    font-weight: 500;
                    color: #7b7b7b;
                }    

            }

            p{
                font-weight: 500;
            }

            @include media(xs){
                border-left: none;

                h2{
                    margin-top: 60px;
                }
            }


        }
    }

}