/******* Inner-banner css *******/
.boo-inner-banner .myboo-banner-content{
    position: relative;
}

.page-template-graviy-form span.orange.square{
	display: none;
}

.page-template-graviy-form span.orange.square {
    display: none;
}

.wave-bg img {
    width: 100%;
}  

/******* css for circle-icopns *******/
.small-circles span {
    display: block;
    position: absolute;
    z-index: -1;
}


.small-circles span.circles{
    border-radius: 50%;
}

span.green{
    background-color: #99cccc;
}

span.purple{
    background-color: #cc99ff;
}

span.orange {
    background-color: #ffcc99;
}

span.pink {
    background-color: #ed96c2;
}

span.green.square {
    height: 34px;
    width: 34px;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
    left: 78px;
    top: 0;
}

span.green.circles {
    background-color: #99cccc;
    height: 100px;
    width: 100px;
    opacity: 0.6;
    left: -59px;
    bottom: -46px;
}

span.purple.circles {
    height: 60px;
    width: 60px;
    left: 50%;
    top: -60px;
}

span.circles.light-pur {
    left: 93px;
    top: 130px;
    opacity: 0.7;
}

span.orange.square {
    height: 68px;
    width: 68px;
    opacity: 0.6;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 43%;
    top: 100%;
}

span.orange.circles {
    height: 52px;
    width: 52px;
    right: 70px;
    top: 100px;
}

span.triangle {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 90px solid #99cccc;
    height: 0;
    width: 0;
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
    right: -38px;
    top: -75px;
}

span.blue {
    background-color: #fff;
    border: 30px #ccccff solid;
    height: 150px;
    width: 150px;
    right: -72px;
    bottom: -84px;
}

span.yelow {
    border-radius: 200px;
    border: 30px solid #ffffb2;
    border-right: 30px solid white;
    border-bottom: 30px solid white;
    background-color: #fff;
    height: 130px;
    width: 130px;
    top: -261px;
    right: 15px;
    -webkit-transform: rotate(223deg);
    -moz-transform: rotate(223deg);
    -ms-transform: rotate(223deg);
    transform: rotate(223deg);
}

span.pink.bar {
    height: 20px;
    width: 125px;
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
    right: 261px;
    bottom: -13px;
}
