 .mb-title-n-sub-title{
    text-align: center;  

    h1{  
        font-size: 35px;
        font-weight: bold;
        color: lighten( $color_black, 10% );
        margin: 0;
        text-align: center;  
        font-family: $font_title;
    }

    h2{
        font-size: 20px;
        margin: 15px 0 30px;
        font-weight: bold;
        text-align: center;  
        color:lighten( $color_black, 70% );
    }

}