/*
**
**  FORM 19 - PAGINA SCELTA LIBRI - FOOTER
**
*/

.gform_page_footer {
	z-index: 999;
}

#gform_page_19_5 #gform_submit_button_19 {
	position: fixed;
	bottom: 15px;
	right: 15px;
}

#gform_page_19_5 #gform_previous_button_19 {
	position: fixed;
	bottom: 15px;
	left: 15px;
	top: initial;
}

.back-btn {
	position: fixed;
	left: 15px;
	bottom: 15px;
	color: #fff;
	padding: 10px;
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}

.back-btn:active,
.back-btn:visited{
	color: #fff;
}

.back-btn:hover{
	color: #fff;
}

.next-btn {
	position: fixed;
	right: 15px;
	bottom: 15px;
	color: #333;
	padding: 10px;
	text-transform: uppercase;
	font-size: 18px;
	background: #ddd;
	border-radius: 5px;
	font-size: 18px;
}

.next-button .button,
.back-button .button,
.next-btn .button,
.back-btn .button {
	position: relative !important;
}


/*
**
**  SCELTA LIBRI - 
**
*/

.gfield.book-list ul li {
	min-height: 1px;
	overflow: initial !important;
	position: relative;
}

.gfield.book-list ul li label {
	padding: 20px !important;
}

@media (min-width: 992px) {
	.gfield.book-list ul li {
		float: left;
		width: 50% !important;
	}

	.gfield.book-list ul li:nth-child(even) {
		padding-left: 15px !important;
	}

	.gfield.book-list ul li:nth-child(odd) {
		padding-right: 15px !important;
	}
}


#img {
	left: 50%;
	top: 50%;
	position: fixed;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.ginput_container.ginput_container_slim {
	width: 200px;
	margin: auto;
}

.slim {
    background-color: transparent !important;
}

.slim[data-state*=empty]:hover {
    background-color: transparent !important;
}

.slim .slim-file-hopper {
	background: transparent;
    background-image: url(http://myboo.nexnova.biz/wp-content/themes/myboo/gform-img/foto.jpg);
    background-repeat: no-repeat;
    background-position: center 25%;
	z-index: 0;
}

.slim[data-state*=empty] .slim-file-hopper {
    z-index: 2;
}