
 /* ---------------------------------------
  * BABY READING SECTION
  * --------------------------------------- */


.baby-reading{
	text-align: center;
	position: relative;

	img{
		position: absolute;

		&.image-right{
			right: 0;
			top: -15%;
	    max-width: 30%;
		}
		&.image-left{
			left: 0;
			bottom: 0;
	    max-width: 42%;
		}
	}

	.detail{
		width: 470px;
		max-width: 100%;
		display: inline-block;
    padding: 13% 0;

		p{
			text-align: center;
			font-size: 18px;
			line-height: 1.7;
			font-weight: 400;
			margin: 20px 0 60px;
		}

		@include media(mb){
			padding: 24% 0;

			p{
				font-size: 14px;
				margin-bottom: 20px;
			}
		}

	}



}

//
//  #baby-reading {
// 	 position: relative;
//  }
//
// .baby-img {
// 	// text-align: end;
// 	//
// 	// &.image-left {
// 	// 	float: left;
// 	// }
// 	//
// 	// &.center-text {
// 	// 	text-align: center;
// 	// 	position: absolute;
// 	// 	left: 0;
// 	// 	right: 0;
// 	// 	top: 30%;
// 	//
// 	// 	p {
// 	// 		padding: 0px 33% 60px 33%;
// 	// 	  font-size: 18px;
// 	// 	  line-height: 1.7;
// 	// 	  font-weight: 400;
// 	// 	}
// 	//
// 	// }
// 	//
// 	// img {
// 	// 	display: inline-block;
// 	// }
//
// 	@include media(mb){
// 		&.center-text{
// 			position: relative;
// 			top: initial;
//
// 			p{
// 				padding: 11px 30px;
// 				font-size: 14px;
// 			}
// 		}
// 	}
//
// }
//
//
// .baby-img.center-text,
// .center-text .btn-wrapper {
// 	text-align: center;
// }
