/* ---------------------------------------
 * FEATURE SECTION
 * --------------------------------------- */
#myboo-feature {
	padding-top: 65px;
	text-align: center;

	img {
		display: initial;
	}
}

.feature-section {
	h2 {
		color: #333;
		font-weight: 700;
		font-size: 22pt;
		padding-bottom: 10px;
		font-family: Quicksand;
	}

	p {
		color: #aeaeae;
		font-size: 18px;
		font-weight: 400;
		padding: 0 30px;
	}

	img {
		min-height: 108px;
	}

	@include media(mb) {
		h2 {
			font-size: 16px;
		}

		p{
			font-size: 14px;
			line-height: 1.5;
		}

	}

}
