
/* ---------------------------------------
 * REVIEW SECTION
 * --------------------------------------- */

section.review {
	padding-top: 40px;
}

.review-head {
	text-align: center;
}

.review-head p {
	color: #999;
	font-weight: 400;
	font-size: 16px;
}

.review-content h5 {
	color: #353854;
	font-size: 16pt;
	line-height: 40px;
	margin-top: -11px;
	font-weight: normal;
	font-family: lato;
	min-height: 86px;
}

.review-content p {
	color: #353854;
	font-size: 16px;
	font-weight: 400;
}

.review-content {
	padding: 20px 20px 40px 0;
}

.second-review-content.review-content {
	text-align: center;
}

.second-review-content.review-content h5 {
	min-height: auto;
}

.btn-wrapper.for-mobile {
	display: none;
}


@include media(mb){

	.review-content {
		padding: 10px 0;
		margin: 0 -15px;
		font-size: 14px;

		h5{
			font-size: 14px;
			line-height: 1.5;
			min-height: initial;
			margin-bottom: 10px;
		}
		p{
	    	font-size: 12px;
		}
	}

	.review-head {
		h1 {
			font-size: 18px;
			font-weight: 600;
		}
	}

}
