
/* ---------------------------------------
 * SLIDER SECTION
 * --------------------------------------- */

.slider-wrapper{
  margin: 110px 0 0;

  .mb-title{
    margin: 0 0 25px 0;
  }

  .more-info{
  	h1{
  		font-size: 25px;
  		font-family: $font_title;
  		font-weight: bold;
  		margin: 50px 0;
  		colot: lighten( $color_black, 15% );
  	}
  	.description{
  		max-width: 40%;
  		margin: 0 auto 40px;
  		font-size: 18px;
  		font-weight: $font_weight_normal;
  		font-family: $font_primary;
  		color: lighten( $color_black, 35% );


  	}
  }

  @include media(xs){
     margin: 60px 0 0;

    .more-info{
      .description{
        max-width: 70%;
      }
    }
  }

  @include media(mb){
    .more-info{
      h1{
        font-size: 16px;
        margin-bottom: 25px;
      }
      .description{
        font-size: 14px;
        line-height: 1.7;
      }
    }

  }

}

.slider-with-nav{
  position: relative;
}

%common{
  position: absolute;
  top: 50%;
  @include translate(0, -50%);
  line-height: 0;
  border: none;
  background: transparent;

  i{
    font-size: 70px;
    line-height: 0.3;
    color: lighten($color_black, 70%);

    &:hover{
      color: lighten($color_black, 50%);
    }
  }

  &:focus{
    outline: none;
  }
}

#btn-prev{
  @extend %common;
  left: 18%;
}

#btn-next{
  @extend %common;
  right: 18%;
}

 #our-slider{
 	margin: 0;
	position: relative;
  padding-bottom: 25%;

		> li {
	  	list-style: none;
	  	margin: 0 5px;
	  	width: 25%;
			visibility: hidden;
		 	opacity: 0;

			position: absolute;
		  left: 50%;
		  top: 50%;
		  transform: translate(-50%, -50%);

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5){
				visibility: visible;
			 	opacity: 1;
			 	@include transition( all 0.4s ease-out );
			}

			&:nth-child(1){
				  @include transform ( translate(-115%,-50%) scale(0.6) );
				  z-index: 1;
		  }

			&:nth-child(2){
				  @include transform ( translate(-95%,-50%) scale(0.8) );
				  z-index: 2;
		  }

			&:nth-child(4){
				  @include transform ( translate(-10%,-50%) scale(0.8) );
				  z-index: 2;
		  }

			&:nth-child(5){
				  @include transform ( translate(10%,-50%) scale(0.6) );
				  z-index: 1;
		  }

			&:nth-child(3){
				  z-index: 3;
		  }

	  } //End li


    @include media(xs){
      padding-bottom: 45%;
      > li{
          width: 45%;
      }
    }

 } //End #our-slider
