
.woocommerce {
    table.shop_table{
        border: none;
        @include border-radius(0);    
    }
}

table{
    &.shop_table{
        border: 2px solid #ddd !important;   

        thead{ 
           tr{
                > th{ 
                    font-weight: 700;
                    color: #1f1f1f;    
                    padding: 12px 9px;
                    font-size: 16px; 
                }
           }
        }
    }
} 


.cart_totals{
    margin-top: 40px; 
} 

.cart_totals, 
.woocommerce-cart {
    h2,
    .entry-header .entry-title{
        font-size: 22px;
        font-weight: bold;
        margin: 0  0 20px;
        text-transform: capitalize;
    }
}

/* checkout button */
.woocommerce a.button.alt.checkout-button{
    background-color: $color_primary;
    @include transition ( all 0.3s linear );
    &:hover{
        background-color: darken( $color_primary, 10% );
    }
}
