/* ---------------------------------------
 * FOOTER SECTION
 * --------------------------------------- */
footer#colophon {
	background: #333366;
	padding: 40px 0 0;
	color: #fff;
}

.footer-right-content ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 18pt;
	font-family: lato;
	font-weight: normal;
	color: #fff;
}

.footer-right-content ul li a {
	color: #fff;
	font-size: 15pt;
	font-family: lato;
	font-weight: normal;
}

.footer-right-content h3,
.newsletter h1 {
	padding-bottom: 20px;
	font-family: Quicksand;
	font-weight: bold;
	text-transform: uppercase;
}

.newsletter h1 {
	font-size: 22pt;
}

.footer-right-content h3 {
	font-size: 15pt;
}

.footer-right-content ul li {
	color: #fff;
	padding: 0 0 10px;
}

.social-nav img {
	display: inline-block;
}

.social-nav ul li {
	list-style: none;
	float: left;
}

.social-nav {
	float: right;
}

.site-info {
	border-top: 1px solid #565663;
	padding: 40px;
	text-align: right;
}

.footer-logo-social {
	padding: 53px 0;
}

.footer-bottom.clearfix ul li {
	list-style: none;
	float: right;
	color: #fff;
}

.footer-bottom.clearfix ul li a {
	color: #fff;
}

.footer-bottom.clearfix ul li a {
	color: #565b87;
}

.footer-bottom.clearfix ul li a:after {
	content: "/";
	padding: 0 3px;
}

#quote-carousel {
	padding: 0 10px 30px;
	margin-top: 60px;
}

#quote-carousel .carousel-control {
	background: none;
	color: #CACACA;
	font-size: 2.3em;
	text-shadow: none;
	margin-top: 30px;
}

#quote-carousel .carousel-indicators {
	position: relative;
	right: 50%;
	top: auto;
	bottom: 0;
	margin-top: 20px;
	margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
	width: 50px;
	height: 50px;
	cursor: pointer;
	border: 0;
	box-shadow: 0;
	border-radius: 0 !important;
	opacity: 0.4;
	overflow: hidden;
	transition: all 0.4s ease-in;
	vertical-align: middle;
}

#quote-carousel .carousel-indicators .active {
	width: 373px;
	height: 373px;
	opacity: 1;
	transition: all 0.2s;
}

.item blockquote {
	border-left: none;
	margin: 0;
}

.item blockquote p:before {
	content: "\f10d";
	font-family: 'Fontawesome';
	float: left;
	margin-right: 10px;
}

.carousel-inner {
	overflow-x: hidden !important;
	width: auto !important;
}
/* ---------------------------------------
 * RESPONSIVE
 * --------------------------------------- */
@include media(mb){
	.footer-top-section{
		.container{
			padding-left: 0;
			padding-right: 0;

			h3{
				font-size: 10px;
			}
		}

		.footer-right-content{
			text-align: left;

			h3 {
			    font-size: 10pt;
			    margin: 22px 0 0;
			    padding-bottom: 0px;
			}

			ul{
				margin-bottom: 25px;

				li{
					padding: 0;
					line-height: 1.2;

					a{
				    	font-size: 10pt;
					}
				}
			}

		}


	}
}

@media screen and (max-width:768px) {
	.btn-wrapper img,
	.col-md-9.myboo-nav-wrapper,
	.scroll-down,
	.site-info,
	.social-nav,
	.yellow-circle,
	img.svg-img.blue-rectangle,
	img.svg-img.circle,
	img.svg-img.col-md-2.review-circle,
	img.svg-img.rect,
	img.svg-img.small-blue-circle,
	img.svg-img.small-purple,
	img.svg-img.small-red-circle,
	li.bar,
	li.dropdown-toggle {
		display: none !important;
	}

	.svg-img.blue-triangle {
		bottom: 38px;
		right: 0;
		top: initial;
		width: 28%;
	}

	img.svg-img.stick {
		right: initial;
		bottom: -66px;
		left: 0;
		width: 34%;
	}

	.menu-section {
		padding: 40px 16px;
	}

	.btn-wrapper {
		text-align: center;
	}

	.myboo-banner-content p {
		padding-bottom: 50px;
		line-height: 25px;
	}

	/* baby reading */
	.baby-img.image-left,
	.baby-img.image-right {
		width: 48%;
	}
	/* review */
	.review-content {
		padding: 20px 20px 0 23px;
	}

	.review-content span img {
		width: 12%;
		margin-bottom: 10px;
	}

	.footer-logo img {
		display: inline-block;
	}

	.col-md-6.col-xs-12.col-sm-6 {
		text-align: center;
	}

	.line {
		height: 1px;
		border-top: 1px solid #666675;
	}

	.footer-logo-social {
		padding-bottom: 0;
	}

	.btn-wrapper.for-mobile {
		text-align: center;
		padding: 25px 0 100px;
		display: block;
	}

	a.myboo-link {
		margin-right: 0;
	}

	.site-branding {
		display: inline-block;
		width: 34%;
	}

	.newsletter h1 {
		font-size: 15pt;
	}

	.col-md-6.col-xs-12.col-sm-6.menu-section {
		padding: 0 !important;
	}
}
