
$info_incon_width : 25px;

.story{
    margin-bottom: 50px;
    padding-top: 10px;    
    
    
    .title-n-info{  
        @include clearfix();
        .title-n-rate{
            overflow: hidden;

            h2{
                font-size: 20px;
                margin: 0 10px 0 0;
                font-weight: bold;
                float: left;
            }
            img{
                float: left;
            }
        }
        
        .info{
            float: right;
            text-align: center;
            font-size: 18px;
            cursor: pointer;
            width: $info_incon_width;
            height: $info_incon_width;
            line-height: $info_incon_width - 2 ;
            box-shadow: 0 0 0 2px $color_black;
            @include border-radius(50%);
        }
    }
    
    .img-n-detail{
        margin: 15px 0;
        @include clearfix();

        .img{
            float: left;
            max-width: 154px;
        }

        .detail{
            padding-left: 15px;
            font-size: 16px;
            font-weight: 500;
            overflow: hidden;
        }
    }

    .price-detail-links{
        @include clearfix();

        &.visible-xs{
            margin-bottom: 20px;
        }

        > * {
            float: left;
            margin-right: 10px;
        }

        >div{
            max-width: 150px;
            text-align: center;
            >span{
                font-size: 12px;
            }
        }
    }

    @include media( xs ){
        text-align: center;

        .title-n-info{
            .info{  
                float: initial;
                margin-bottom: 20px;
                display: inline-block;
            }
            .title-n-rate{
                h2{
                    display: block;
                    float: none;
                    margin: 0;
                }
                .ratings{
                    display: inline-block;
                    float: none !important;
                    margin: 10px 0 5px;

                    > img{
                        width: initial;
                    }
                }
            }
        }

        .img-n-detail{
            
            .img{
                float: initial;
                max-width: initial;
                text-align: center;

                > img{
                    display: inline-block;
                    width: initial;
                }
            }
            .detail{
                padding-left: 0;
                margin-top: 25px;
            }
        }//.img-n-detail

        .price-detail-links{
            margin: 0 -15px;
            
            *{
                float: none;
                display: inline-block;
            }
        }
    }


}